@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ka Meng Lei</h1>
    <h2 class="display-5">Kairus</h2>
    <p>Personal Info : <a href="https://www.linkedin.com/in/ka-meng-kairus-lei-279194bb/">Linkedin Page</a></p> 
    <p>Group Projects : <a href="https://rhainyleo.itch.io/loco-locomotive?secret=k9U4W62kjqL6LVD26kV2PHGVU0">Loco-Locomotive</a></p> 
</div>


